*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 75vw;
    margin-left: calc(16% + 100px);
    padding: 20px;
    margin-bottom: 110px;
}

main header{
    font-size: 24px;
    margin-bottom: 20px;
}
main p{
    font-size: 18px;
    line-height: 1.6;
}
main ul{
    padding: 4px 45px;
}
main ul li{
    font-size: 18px;
}
main section{
    height: auto;
    padding: 10px 20px;
}
#navbar{
    width: 25vw;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-left: solid;
    border-color: #17222a;
}
#navbar header{
    font-size: 24px;
    color: #17222a;
    text-align: center;
    padding-top: 20px;
}
#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;

}
#navbar li{
    list-style: none;
    margin-top: 20px; 
    padding-top: 15px;
    padding-left: 20px;
    border-top: 1px solid;
 
}
.nav-link{
    text-decoration: none;
    color: #7c7aaf;
    font-size: 24px;
    text-align:center;
}

@media all and (max-width:660px){
    main{
        width: 60vw;
        padding: 10px;

    }
    #navbar{
        width: 40vw;
    }
    main section{
        padding: 7px 20px;
    }
    main ul{
        padding: 2px 30px;
    }
    main header{
        font-size: 22px;
        margin-bottom: 20px;
    }
    main p{
        font-size: 15px;
        line-height: 1.2;
    }
    main ul li{
        font-size: 16px;
    }
}
@media all and (max-width:564px){
    main{
        width: 60vw;
        padding: 10px;
        margin-left: 180px;
    }
    #navbar{
        width: 40vw;
    }
    #navbar header{
        font-size: 20px;
   }
   .nav-link{
    font-size: 20px;
    color: red;
   }
}